<%= form_for @user do |f| %>
    <% if  @user.errors.any? %>
    <div class="alert alert-danger" role="alert">
    <% @user.errors.full_messages.each do |message| %>
        <%= message %>
    <% end %>    
    </div>
    <% end %>
    <br>
    <h1>Sign Up </h1>

<div class="card signup-card">
<% if flash[:error] %>
  <!-- <div class="alert alert-danger" role="alert"><%= flash[:error] %></div> -->
  <% flash.each do |name, messages| %>
    
    <div class="alert alert-danger" role="alert">
    |
    <% messages.each do |message| %>
      
      <%= message %> | 
      
    <% end %>
    </div>
  
    
  <% end %>
<% end %>
  <div class="card-body">
  <div class="mb-3">
  <label class="form-label">Name:</label>
   <%= f.text_field :name, { class: "form-control", placeholder: "Name" } %>
  </div>
  
  <div class="mb-3">
  <label class="form-label">Email:</label>
  <%= f.text_field:email, { class: "form-control", placeholder: "Email" } %> 
  </div>

  <div class="mb-3">
  <label class="form-label">Age:</label>
  <%= f.number_field:age, { class: "form-control", placeholder: "Age" } %> 
  </div>

  <div class="mb-3">
  <label class="form-label">Gender:</label>
    <%= f.text_field:gender, { class: "form-control", placeholder: "Gender" } %> 
  </div>

  <div class="mb-3">
  <label class="form-label">Phone number:</label>
  <%= f.telephone_field:phone_number, { class: "form-control", placeholder: "Phone number" }  %> 
  </div>

  <%= f.submit "Submit", class: "btn btn-primary" %>    
  </div>
  </div>
<% end %>